@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
/* retirar todos as margins e paddings do site */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Orbitron", sans-serif;
    background-color: #efefef;
    color: #333;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

/* formulario */
form{
    background: #fff;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* mensagem */
    #mensagem{
        max-height: 100px;
        max-width: 400px;
    }

    /* genero */
    select{
        margin-top: 3px;
        padding: 10px;
        margin-bottom: 7px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: #f8f8f8;
    }

    /* botao */
    .btn{
        margin-top: 3px;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: #7bbbff;
        transition: 0.3s ease;


        &:hover{
            background-color: #007BFF;
        }
    }
}

/* caso a tela tenha menos de 468px */
@media (max-width: 468px) {
    form {
        width: 90%;
        padding: 15px;

        #mensagem{
            max-height: 80px;
            max-width: 99%;
        }
    }
    
}

/* caso a tela tenha menos de 320px */
@media (max-width: 320px) {
    form {
        font-size: smaller;
    }
    
}

/* caso a tela tenha menos de 228px */
@media (max-width: 228px) {
    form {
        font-size: x-small;
    } 
}