@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root {
    --primary-color: #00ADB5;
    --secondary-color: #393E46;
    --background-color: #EEEEEE;
    --text-color: #333;
    --form-bg: #fff;
    --input-bg: #f8f8f8;
    --btn-bg: #7bbbff;
    --btn-hover-bg: #007BFF;
    --input-border: #ccc;
    --shadow-color: rgba(0, 0, 0, 0.1);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Orbitron", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

form{
    background: var(--form-bg);
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1{
        color: var(--primary-color);
    }

    #mensagem{
        max-height: 100px;
        max-width: 400px;
    }

    select{
        margin-top: 3px;
        padding: 10px;
        margin-bottom: 7px;
        border: 1px solid var(--input-border);
        border-radius: 4px;
        font-size: 16px;
        background-color: var(--input-bg);
    }

    .btn{
        margin-top: 3px;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid var(--input-border);
        border-radius: 4px;
        font-size: 16px;
        background-color: var(--btn-bg);
        transition: 0.3s ease;

        &:hover{
            background-color: var(--btn-hover-bg);
        }
    }
}

@media (max-width: 468px) {
    form {
        width: 90%;
        padding: 15px;

        #mensagem{
            max-height: 80px;
            max-width: 99%;
        }
    }
}

@media (max-width: 320px) {
    form {
        font-size: smaller;
    }
}

@media (max-width: 228px) {
    form {
        font-size: x-small;
    } 
}
