@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

:root{
  --cor-primaria: #17cae2;
  --cor-secundaria: #291bf0;
  --cor-fundo: #050149;
  --cor-branco: #fff;
  --cor-preto: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("../../imgs/login/fundoLogin.png");
  background-size: cover;
  background-position: center;
  width: 100%;
}

.login {
  position: relative;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.login h2 {
  font-size: 2em;
  color: var(--cor-branco);
}

.login .inputBx {
  position: relative;
  width: 100%;
}

.login .inputBx input {
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid var(--cor-branco);
  border-radius: 40px;
  font-size: 1.2em;
  color: var(--cor-branco);
  
}

.login .inputBx input[type="submit"] {
  background: linear-gradient(45deg, var(--cor-primaria), var(--cor-secundaria));
  border: none;
  cursor: pointer;
}

.login .inputBx input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.login .links {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.login .links a {
  color: var(--cor-branco);
  text-decoration: none;
  font-size: 0.9em;
}

/* Responsividade */
@media screen and (max-width: 767px) {
  .login {
    width: 90%;
    padding: 15px;
  }

  .login h2 {
    font-size: 1.5em;
  }

  .login .inputBx input {
    padding: 14px;
    font-size: 1em;
  }

  .login .links {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  body {
    background: linear-gradient(var(--cor-primaria), var(--cor-fundo));
    background-size: cover;
    height: 1000px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: var(--cor-preto);
  }
}
